[package]
name = "gpu-alloc-basic-example"
version = "0.1.0"
authors = ["Zakarum <zakarumych@ya.ru>"]
edition = "2018"
publish = false

[features]
tracing = ["gpu-alloc/tracing"]
mock = ["gpu-alloc-mock"]
gfx = ["gpu-alloc-gfx"]

[dependencies]
gpu-alloc = { path = "../gpu-alloc", version = "=0.3" }
eyre = "0.6"
color-eyre = "0.5"
gpu-alloc-mock = { path = "../mock", version = "=0.2", optional = true }
gpu-alloc-gfx = { path = "../gfx", version = "=0.2", optional = true }
gfx-hal = { version = "0.6", optional = true }
gfx-backend-vulkan = { version = "0.6", optional = true }
gpu-alloc-erupt = { path = "../erupt", version = "=0.2", optional = true }
erupt = { version = "0.16", optional = true, features = ["loading"] }

[[bin]]
name = "mock"
path = "src/mock.rs"
required-features = ["gpu-alloc-mock"]

[[bin]]
name = "gfx"
path = "src/gfx.rs"
required-features = ["gpu-alloc-gfx", "gfx-hal", "gfx-backend-vulkan"]

[[bin]]
name = "erupt"
path = "src/erupt.rs"
required-features = ["gpu-alloc-erupt", "erupt"]
