name: Check

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, edited ]
    branches: [ master ]
    paths: 
      - '**.rs'
      - '**/Cargo.toml'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust-toolchain: [stable, nightly]
    steps:
    - uses: actions/checkout@v3
    - name: Install ${{ matrix.rust-toolchain }} toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust-toolchain }}
    - name: Run cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all --all-features
  test-1_46:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install 1.46.0 toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: '1.46.0'
    - name: Run cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all --lib --all-features
